.about {
  background-color: #F6F6F6;
  padding-bottom: 60px;
}

.about-title {
  padding-top: 120px;
  margin-bottom: 17px;
}

.about-description {
  max-width: 485px;
  margin: auto;
}

.about-description__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-bottom: 50px;
}

@media (max-width: 840px) {

  .about {
    padding-bottom: 30px;
  }

  .about-description__text {
    font-size: 14px;
    padding-bottom: 25px;
  }

  .about-title {
    padding-top: 60px;
  }

}