.footer-button {
  display: flex;
  justify-content: center;
}

.footer-button__send {
  color: #fff;
  background: #000;
  margin-top: 29px;
  margin-bottom: 85px;
  width: 180.5px;
  height: 42px;
  border-radius: 20px;
}