.swiper-slide {
  text-align: center;
}

.swiper-container__custom {
  text-align: center;
}

.swiper-wrapper__custom {
  max-height: 800px;
  padding-bottom: 100px;
}

.swiper-button__custom {
  color: #070707;
}

.custom-slide {
  text-align: center;
}